asgiref==3.7.2
attrs==23.1.0
Django==4.2
django-admin-json-editor==0.2.3
django-environ==0.10.0
django-json-widget==1.1.1
django-jsonforms==1.1.2
django-nested-admin==4.0.2
django-nested-inline==0.4.6
future==0.18.3
jsonschema==4.17.3
psycopg==3.1.9
psycopg2==2.9.6
psycopg2-binary==2.9
pyrsistent==0.19.3
python-monkey-business==1.0.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.6.3
whitenoise==6.4.0
